<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block layout:fragment="pageCustomCss">

</th:block>
<title>배치 결과 관리</title>
</head>
<th:block layout:fragment="pageCustomScript">
<style>
/*
row의 높이 조절. 
.ui-jqgrid tr.jqgrow {
outline-style: none;
height: 20px;
} */
/*셀 데이타가 여러 라인이더라도 row의 높이가 변하지 않게 처리.*/
.ui-jqgrid tr.jqgrow td {
	white-space:nowrap;
}
</style>
<script type="text/javascript">
	
	var lastid;
	
	$(document).ready(function() {
		$("#btnSearch").click(function(e) {
			searchBatchResultList();
	    });
		
		$("#btnExecuteBatch").click(function(e) {
			executeBatch();
	    });
		
		init();
		
		$(window).resize(function() {
			$("#grid1").setGridWidth($(this).width());
		});
		
	});
		
	function init(){
		setGrid1();
	}
	
	//배치 실행
	function executeBatch(){
		var batchId = $("#executeBatchId").val();
		if (batchId == ''){
			alert('배치를 선택 또는 배치ID를 입력하세요.');
			return;
		}
		
		if (!confirm('['+batchId+'] 배치를 실행하시겠습니까?')){
			return;
		}
		var params = {"batchId": batchId};
		
	    ajaxJsonCall('/sys/executeBatch',  params, function(response){
	    	if(response.responseCd == "S"){
	    		alert('배치 수행을 호출하였습니다.');
	    		searchBatchResultList();
	    	}else{
	    		alert('배치 수행 오류: ' + response.responseErrMsg);
	    	}
	    });
	}
	
	//배치 결과 그리드 설정
	function setGrid1(){
		
		if ($("#batchBeginFromDay").val()==''){
			$("#batchBeginFromDay").val(firstDayByMonth(getToDay("-")));
		}
		if ($("#batchBeginToDay").val()==''){
			$("#batchBeginToDay").val(getToDay("-"));
		}
		
    	$("#grid1").jqGrid({
    		url:"/sys/batchResultList",
    		datatype: "json",
    		ajaxGridOptions: { contentType: "application/json; charset=UTF-8" },
    		mtype:"POST",
    		jsonReader:{
    			root:"content",
    			page:"page",
    			records:"totalElements",
    			total:"totalPages"
    		},
    		postData:{
    			batchBeginFromDay : $("#batchBeginFromDay").val(),
				batchBeginToDay   : $("#batchBeginToDay").val(),
				batchId 		  : $("#batchId").val(),
				statusCode        : $("#statusCode").val()
    		},
    		height: 500,
    		rowNum: 20,
    		rowList: [10,20,30,50,100],
    	   	colNames:['배치실행ID','배치ID','상태','시작일시','종료일시','전체처리건수','성공건수','실패건수','에러정보'],
    	   	colModel:[
    	   		{name:'batchExecuteId',  index:'batchExecuteId',   	width:60, 	align:"center",	editable:false},
    	   		{name:'batchId',         index:'batchId', 		   	width:80,	align:"left",	editable:false},
    	   		{name:'statusCode',      index:'statusCode',	   	width:50,	align:"center",	editable:false},
    	   		{name:'batchBeginDate',  index:'batchBeginDate',   	width:100,	align:"left",	editable:false},
    	   		{name:'batchEndDate',    index:'batchEndDate', 	   	width:100, 	align:"left",	editable:false},		
				{name:'totalDataCount',  index:'totalDataCount',   	width:50, 	align:"right",	editable:false},
				{name:'successDataCount',index:'successDataCount', 	width:50, 	align:"right",	editable:false},
				{name:'errorDataCount',  index:'errorDataCount',    width:50, 	align:"right",	editable:false},
				{name:'errorInfo',       index:'errorInfo', 		width:50, 	align:"left",	editable:false}
    	   	],
    	   	pager: "#gridPager",
    	   	pgButtons:true,
    	   	pginput:true,
    	   	viewrecords: true,
    	   	autowidth:true,
    	   	rownumbers: true,
    	   	onPagine : function (pgButton){
    	   		var gridPage  = $("#grid1").getGridParam("page");
    	   		var totalPage = $("#grid1").getGridParam("total");
    	   	},
    	    beforeSelectRow: function(rowId, e){
    	    },
    	   	onSelectRow: function(rowId,e){
    	   		console.log("rowId="+rowId);
    	   		var batchId = $("#grid1").jqGrid('getCell', rowId, 'batchId'); 
    	   		$("#executeBatchId").val(batchId); 
			},
			beforeEditCell: function (rowId,name,val,iRow,iCol){
			},
			afterEditCell: function (id,name,val,iRow,iCol){
		  	},
		  	afterSaveCell : function(rowid,name,val,iRow,iCol) {
		  	},
		  	ondblClickRow: function (rowid, iRow, iCol) { 
			},
    	   	serializeGridData: function(postData) {
			    return JSON.stringify(postData);
			}
    	});
	}
	
	//배치 결과 목록 조회
	function searchBatchResultList(){
		if ($("#batchBeginFromDay").val()==''){
			$("#batchBeginFromDay").val(firstDayByMonth(getToDay("-")));
		}
		if ($("#batchBeginToDay").val()==''){
			$("#batchBeginToDay").val(getToDay("-"));
		}
		
		$("#grid1").jqGrid('clearGridData');
		$("#grid1").setGridParam(
			{postData:{
				batchBeginFromDay : $("#batchBeginFromDay").val(),
				batchBeginToDay   : $("#batchBeginToDay").val(),
				batchId 		  : $("#batchId").val(),
				statusCode        : $("#statusCode").val(),
    			page              : 0
    		}}
		).trigger("reloadGrid");
	}
	
</script>
</th:block>
<body>
<th:block layout:fragment="content">
<div class="tit-area">
	<h3>배치결과관리</h3>
	<ul class="location-area">
		<li><a href="#none" class="home">Home</a></li>
		<li><a href="#none">시스템관리</a></li>
		<li><a href="#none">배치결과관리</a></li>
		<li><strong>배치결과관리</strong></li>
	</ul>
</div>

<div class="tbl-search-wrap">
	<div class="tbl-search-area">
		<table class="tbl-search">
			<colgroup>
				<col style="width:105px">
				<col>
				<col style="width:105px">
				<col>
			</colgroup>
			<tbody>
				<tr>
					<th><span>배치ID</span></th>
					<td>
						<input type="text" id="batchId" name="batchId" value="" >
					</td>
					<th><span>배치일시</span></th>
					<td>
						<input type="text" id="batchBeginFromDay" name="batchBeginFromDay" class="date-inpt" size="10"> 
						~ 
						<input type="text" id="batchBeginToDay" name="batchBeginToDay" class="date-inpt"  size="10"> 
					</td>
					<th><span>배치상태</span></th>
					<td>
						<select id="statusCode" name="statusCode">
							<option value="">전체</option>
							<option value="R">실행중</option>
							<option value="S">성공</option>
							<option value="F">실패</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
	<div class="tbl-search-btn">
		<button type="button" id="btnSearch" class="btn-search">조회</button>
	</div>
</div>
<div class="layout-box">
	<div class="layout">
		<div class="sub-tit">
			<h4>배치실행결과</h4>
			<div class="icon-area">
				<input type="text" id="executeBatchId" name="executeBatchId">
				<button type="button" id="btnExecuteBatch" class="i-btn"><em class="icon03"></em>재실행</button>
			</div>
		</div>
		<div class="jqGridArea">	 
			<table id="grid1"></table>
			<div id="gridPager" style="width: 100%"></div>
		</div>
	</div>
</div>
</th:block>
</body>
</html>