<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block layout:fragment="pageCustomCss">

</th:block>
<title>메뉴관리</title>
</head>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript">
	
	$(document).ready(function() {
		
		
		$("#btnSaveMenuInfo").click(function(e) {
			btnSaveMenuInfo();
	    });
		
		$("#btnAddMenu").click(function(e) {
			addMenu();
	    });
		
		$("#btnAddFolder").click(function(e) {
			addFolder();
	    });
		
		$("#btnDeleteMenuInfo").click(function(e) {
			deleteMenuInfo();
	    });
		
		$("#btnGridFolderOpen").click(function(e) {
			folderAllOpen();
	    });
		
		$("#btnGridFolderClose").click(function(e) {
			folderAllClose();
	    });
		
		init();
		
		$(window).resize(function() {
			$("#treeGrid").setGridWidth($(".layout-left").width());
		});
		
	});
		
	function init(){
		setTreeGrid();
	}
	
	function folderAllOpen(){
		
		$(".treeclick","table#treeGrid").each(function() {

			if($(this).hasClass("tree-plus")) {

				$(this).trigger("click");

			}

		});
		
	}
	
	function folderAllClose(){
		$(".treeclick","table#treeGrid").each(function() {

			if($(this).hasClass("tree-minus")) {

				$(this).trigger("click");

			}

		});
	}
	
	function setTreeGrid(){
		
		var cnt = 0;
		
		$("#treeGrid").jqGrid({
			url : "/sys/searchMenuListByTree",
    		datatype: "json",
    		mtype:"POST",
            colNames: ["메뉴","메뉴번호","newYn","programFileNm","url"],
            colModel: [
                {name:'menuNm', index:'menuNm', hidden:false, sortable:false},
                {name:'menuNo', index:'menuNo', width:1, hidden:true, key:true},
                {name:'newYn', index:'newYn', hidden:true, sortable:false},
                {name:'programFileNm', index:'programFileNm', hidden:true, sortable:false},
                {name:'url', index:'url', hidden:true, sortable:false}
            ],
            treeGridModel: 'adjacency',
            height: '500',
            width: '550',
            pager: "",
            treeGrid: true,
            ExpandColumn: 'menuNm',
            ExpandColClick: false,
            treeIcons: {plus:'ui-icon-folder-collapsed',minus:'ui-icon-folder-open',leaf:'ui-icon-blank'},
            caption: "메뉴 관리",
            tree_root_level: 1,
            jsonReader: {
            	id:"menuNo",
            	repeatitems : false
            },
            treeReader: {
                level_field:        "lvl",
                parent_id_field:    "upperMenuNo",
                leaf_field: "leaf",
                expanded_field:"expanded"
            },
            beforeRequest: function() {
            	if(cnt==1){
            		return false;
            	}
            	cnt = 1
            },
            onSelectRow: function (rowid) {
            	$("#selRowId").val(rowid);
            	var treedata = $("#treeGrid").jqGrid('getRowData', rowid);
            	//alert(JSON.stringify(treedata));
            	if(treedata.menuNo != null && treedata.menuNo != ""){
	            	selMenuInfo(treedata.menuNo);	
            	}else{
            		$("#menuNo").val("");
        	    	$("#modMenuNo").val(treedata.menuNo);
        	    	$("#menuNm").val(treedata.menuNm);
        	    	$("#upperMenuNo").val(treedata.upperMenuNo);
        	    	$("#url").val(treedata.url);
        	    	$("#menuDesc").val("");
        	    	$("#menuOrder").val("");
        	    	$("#programFileNm").val(treedata.programFileNm);
					if(treedata.url == "dir"){
						$("#programFileNm").prop("readonly",true);
						$("#url").prop("readonly",true);
        	    	}else{
        	    		$("#programFileNm").prop("readonly",false);
        	    		$("#url").prop("readonly",false);
        	    	}
        	    	$("#relateImagePath").val("");
        	    	$("#relateImageNm").val("");
            	}
            },
            loadComplete: function() {
            	$(".ui-jqgrid tr.jqgrow>td").css("border-bottom-style","none");
            	//$('.tree-leaf', $(this)).css('width', '0px');
            	
            	$(".treeclick","#treeGrid").each(function() {
					if($(this).hasClass("tree-plus")){
						$(this).trigger("click");
					}
				});
            	
            	folderAllClose();
            }
        });
		
	}
	
	function selMenuInfo(menuNo){
		
		var params = new Object();
		
		params.menuNo = menuNo;
		
		$("#selMenuNo").val(menuNo);
		
	    ajaxJsonCall('/sys/searchMenuInfo',  params, function(data){
	    	$("#menuNo").val(data.menuNo);
	    	$("#modMenuNo").val(data.menuNo);
	    	$("#menuNm").val(data.menuNm);
	    	$("#menuEnNm").val(data.menuEnNm);
	    	$("#upperMenuNo").val(data.upperMenuNo);
	    	$("#url").val(data.url);
	    	$("#useYn").val(data.useYn);
	    	$("#viewCoCd").val(data.viewCoCd);
	    	$("#menuDesc").val(data.menuDesc);
	    	$("#menuOrder").val(data.menuOrder);
	    	$("#programFileNm").val(data.programFileNm);
	    	$("#relateImagePath").val(data.relateImagePath);
	    	$("#relateImageNm").val(data.relateImageNm);
	    });
		
	}
	
	function btnSaveMenuInfo(){
		
		var params = fnGetParams();
		
		if(validate()){
			
			if(confirm("저장하시겠습니까?")){
				ajaxJsonCall('/sys/saveMenuInfo',  params, function(data){
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		//selMenuInfo($("#selMenuNo").val());
			    		reload();
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			}
			
		}
		
	}
	
	function deleteMenuInfo(){
		
		var params = fnGetParams();
		
		if($("#selRowId").val() != ""){
			if(confirm("삭제하시겠습니까?")){
				ajaxJsonCall('/sys/deleteMenuInfo',  params, function(data){
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		reload();
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			}
		}
		
	}
	
	function addMenu(){
		var treedata = $("#treeGrid").jqGrid('getRowData', $("#selRowId").val());
		
		var isLeaf = treedata.leaf;
		var lvl = treedata.lvl;
		var menuNo = treedata.menuNo;
		var upperMenuNo = treedata.upperMenuNo;
		
		if(lvl == "1"){
			alert("최상위 노드에틑 메뉴를 추가하실수 없습니다.");
			return false;
		}
		
		if(lvl == "2"){
			treedata.menuNm = "신규 메뉴";
			treedata.leaf = "true";
			treedata.menuNo = "";
			treedata.newYn = "Y";
			treedata.programFileNm = "";
			treedata.url = "";
			$("#treeGrid").jqGrid ('addChildNode', "", menuNo, treedata);
		}
		
		if(lvl == "3"){
			treedata.menuNm = "신규메뉴";
			treedata.leaf = "true";
			treedata.menuNo = "";
			treedata.newYn = "Y";
			treedata.programFileNm = "";
			treedata.url = "";
			$("#treeGrid").jqGrid ('addChildNode', "", menuNo, treedata);
		}
		
		
	}
	
	function addFolder(){
		
		var treedata = $("#treeGrid").jqGrid('getRowData', $("#selRowId").val());
		
		var isLeaf = treedata.leaf;
		var lvl = treedata.lvl;
		var menuNo = treedata.menuNo;
		var upperMenuNo = treedata.upperMenuNo;
		
		if(isLeaf == "true"){
			alert("메뉴에는 폴더를 생성하실수 없습니다.");
			return false;
		}
		
		treedata.menuNm = "신규 폴더";
		treedata.upperMenuNo = menuNo;
		treedata.programFileNm = "dir";
		treedata.url = "dir";
		treedata.menuNo = "";
		treedata.newYn = "Y";
		$("#treeGrid").jqGrid ('addChildNode', "", menuNo, treedata);
		
	}
	
	function validate(){
		
		if($("#modMenuNo").val() == ""){
			alert("메뉴 ID를 입력하세요.");
			$("#modMenuNo").focus();
			return false;
		}
		
		if($("#menuNm").val() == ""){
			alert("메뉴명을 입력하세요.");
			$("#menuNm").focus();
			return false;
		}
		
		if($("#menuEnNm").val() == ""){
			alert("메뉴 영문명을 입력하세요.");
			$("#menuEnNm").focus();
			return false;
		}
		
		if($("#menuOrder").val() == ""){
			alert("정렬순서를 입력해주세요.");
			$("#menuOrder").focus();
			return false;
		}
		
		if($("#url").val() == ""){
			alert("연결 URL을 입력하세요.");
			$("#url").focus();
			return false;
		}
		
		return true;
	}
	
	function reload(){
		
		window.location.href = '/sys/menuManage';
		
	}
	
</script>
</th:block>
<body>
<th:block layout:fragment="content">
<div class="tit-area">
	<h3>메뉴관리</h3>
	<ul class="location-area">
		<li><a href="#none" class="home">Home</a></li>
		<li><a href="#none">시스템관리</a></li>
		<li><a href="#none">메뉴관리</a></li>
		<li><strong>메뉴관리</strong></li>
	</ul>
</div>
<input type="hidden" id="selRowId" name="selRowId" value="" />
<input type="hidden" id="selMenuNo" name="selMenuNo" value="" />
<div class="layout-box">
	<div class="layout-left">
		<div class="sub-tit">
			<h4>메뉴 목록</h4>
			<div class="icon-area">
				<button type="button" id="btnGridFolderOpen" class="i-btn">전체펼치기</button>
				<button type="button" id="btnGridFolderClose" class="i-btn">전체접기</button>
				<button type="button" id="btnAddFolder" class="i-btn"><em class="icon01"></em>폴더추가</button>
				<button type="button" id="btnAddMenu" class="i-btn"><em class="icon01"></em>메뉴추가</button>
				<!-- <button type="button" id="btnDeleteProgram" class="i-btn"><em class="icon02"></em>삭제</button>
				<button type="button" id="btnSaveProgram" class="i-btn"><em class="icon03"></em>저장</button> -->
			</div>
		</div>
		<div class="jqGridArea">	 
			<table id="treeGrid"></table>
		</div>
	</div>
	<div class="layout-right">
		<div class="sub-tit">
			<h4>메뉴 정보</h4>
			<div class="icon-area">
				<button type="button" id="btnDeleteMenuInfo" class="i-btn"><em class="icon02"></em>삭제</button>
				<button type="button" id="btnSaveMenuInfo" class="i-btn"><em class="icon03"></em>저장</button>
			</div>
		</div>
		<table class="tbl-style02">
			<colgroup>
				<col style="width:15%">
				<col style="width:10%">
				<col style="width:15%">
				<col>
			</colgroup>
			<tbody>
				<tr>
					<th>상위메뉴ID</th>
					<td colspan="3" >
						<input type="text" class="wp100" id="upperMenuNo" name="upperMenuNo" value="" readonly="readonly" style="background-color: #D8D8D8;">
					</td>
				</tr>
				<tr>
					<th>메뉴ID</th>
					<td colspan="3">
					<input type="text" id="modMenuNo" class="wp100" name="modMenuNo" value="">
					<input type="hidden" id="menuNo" name="menuNo" value="">
					</td>
				</tr>
				<tr>
					<th>정렬순서</th>
					<td colspan="3"><input type="text" class="wp100" id="menuOrder" name="menuOrder" value=""></td>
				</tr>
				<tr>	
					<th>메뉴명</th>
					<td colspan="3"><input type="text" class="wp100" id="menuNm" name="menuNm" value=""></td>
				</tr>
				<tr>	
					<th>메뉴 영문명</th>
					<td colspan="3"><input type="text" class="wp100" id="menuEnNm" name="menuEnNm" value=""></td>
				</tr>
				<tr>
					<th>프로그램명</th> 
					<td colspan="3"><input type="text" class="wp100" id="programFileNm" name="programFileNm" value=""></td>
				</tr>
				<tr>
					<th>연결URL</th>
					<td colspan="3"><input type="text" class="wp100" id="url" name="url" value=""></td>
				</tr>
				<tr>
					<th>사용여부</th>
					<td colspan="3">
						<select id="useYn" name="useYn">
							<option value="Y">사용</option>
							<option value="N">미사용</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>노출 회사</th>
					<td colspan="3">
						<select id="viewCoCd" name="viewCoCd">
							<option value="">전체</option>
							<option value="1000">SK케미칼</option>
							<option value="4000">바이오사이언스</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>이미지 경로</th>
					<td colspan="3"><input type="text" class="wp100" id="relateImagePath" name="relateImagePath" value=""></td>
				</tr>
				<tr>
					<th>이미지 이름</th>
					<td colspan="3"><input type="text" class="wp100" id="relateImageNm" name="relateImageNm" value=""></td>
				</tr>
				<tr>
					<th>메뉴 설명</th>
					<td colspan="3">
						<textarea class="tbl-txtarea" id="menuDesc"></textarea>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</th:block>
</body>
</html>