<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block layout:fragment="pageCustomCss">

</th:block>
<title>메뉴 권한 관리</title>
</head>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript">
	
	$(document).ready(function() {
		
		
		$("#btnSaveMenuAuthRel").click(function(e) {
			saveMenuAuthRel();
	    });
		
		$("#authCode").change(function() {
			$("#treeGrid").GridUnload();
			setTreeGrid();
	    });
		
		$("#btnGridFolderOpen").click(function(e) {
			folderAllOpen();
	    });
		
		$("#btnGridFolderClose").click(function(e) {
			folderAllClose();
	    });
		
		init();
		
		$(window).resize(function() {
			$("#treeGrid").setGridWidth($(".layout-left").width());
		});
		
	});
		
	function init(){
		setTreeGrid();
	}
	
	function folderAllOpen(){
		
		$(".treeclick","table#treeGrid").each(function() {

			if($(this).hasClass("tree-plus")) {

				$(this).trigger("click");

			}

		});
		
	}
	
	function folderAllClose(){
		$(".treeclick","table#treeGrid").each(function() {

			if($(this).hasClass("tree-minus")) {

				$(this).trigger("click");

			}

		});
	}
	
	function setTreeGrid(){
		
		var cnt = 0;
		
		$("#treeGrid").jqGrid({
			url : "/sys/searchMenuAuthTreeList",
    		datatype: "json",
    		ajaxGridOptions: { contentType: "application/json; charset=UTF-8" },
    		postData:{
    			"authCode":$("#authCode").val()
    		},
    		mtype:"POST",
            colNames: ["메뉴번호","메뉴","newYn","programFileNm","url","","orgRegYn"],
            colModel: [
                {name:'menuNo', index:'menuNo', width:1, hidden:true, key:true},
                {name:'menuNm', index:'menuNm',width:80 , hidden:false, sortable:false,editable:false},
                {name:'newYn', index:'newYn', hidden:true, sortable:false},
                {name:'programFileNm', index:'programFileNm', hidden:true, sortable:false},
                {name:'url', index:'url', hidden:true, sortable:false},
                {name:'regYn', index:'regYn', width:20, hidden:false,align:"center",editable:false,
                	edittype:"checkbox",
					formatter: "checkbox",
					formatoptions: {disabled : false},
					editoptions: { value: "Y:N"}	
                },
                {name:'orgRegYn', index:'orgRegYn', hidden:true, sortable:false}
            ],
            treeGridModel: 'adjacency',
            height: '500',
            width: '550',
            pager: "",
            treeGrid: true,
            ExpandColumn: 'menuNm',
            ExpandColClick: false,
            cellEdit: true,
            cellsubmit: 'clientArray',
            treeIcons: {plus:'ui-icon-folder-collapsed',minus:'ui-icon-folder-open',leaf:'ui-icon-blank'},
            caption: "메뉴 관리",
            tree_root_level: 1,
            jsonReader: {
            	id:"menuNo",
            	repeatitems : false
            },
            treeReader: {
                level_field:        "lvl",
                parent_id_field:    "upperMenuNo",
                leaf_field: "leaf",
                expanded_field:"expanded"
            },
            beforeRequest: function() {
            	if(cnt==1){
            		return false;
            	}
            	cnt = 1
            },
			onCellSelect: function(rowid,iCol,cellcontent,e){	// row 선택시 발생하는 이벤트	
				
    	   		var colModels = $(this).getGridParam('colModel'); 
				var colName = colModels[iCol].name;
    	   		
				if(colName == "menuNm"){
					if(rowid != null){
						
						var treedata = $("#treeGrid").jqGrid('getRowData', rowid);
		            	selMenuInfo(treedata.menuNo);	
						
	    	    	}
				}
				
    	   	},
            onSelectRow: function (rowid,event) {
            	$("#selRowId").val(rowid);
            	var treedata = $("#treeGrid").jqGrid('getRowData', rowid);
            	//alert(JSON.stringify(treedata));
            	if(treedata.menuNo != null && treedata.menuNo != ""){
	            	selMenuInfo(treedata.menuNo);	
            	}else{
            		$("#menuNo").val("");
        	    	$("#modMenuNo").val(treedata.menuNo);
        	    	$("#menuNm").val(treedata.menuNm);
        	    	$("#upperMenuNo").val(treedata.upperMenuNo);
        	    	$("#url").val(treedata.url);
        	    	$("#menuDesc").val("");
        	    	$("#menuOrder").val("");
        	    	$("#programFileNm").val(treedata.programFileNm);
					if(treedata.url == "dir"){
						$("#programFileNm").prop("readonly",true);
						$("#url").prop("readonly",true);
        	    	}else{
        	    		$("#programFileNm").prop("readonly",false);
        	    		$("#url").prop("readonly",false);
        	    	}
        	    	$("#relateImagePath").val("");
        	    	$("#relateImageNm").val("");
            	}
            	
            },
			afterEditCell: function (id,name,val,iRow,iCol){
				
				$("#"+id+"_"+name).blur(function(){
			        $("#treeGrid").jqGrid("saveCell",iRow,iCol);
			    });
				
				return true;
		  	},
            afterSaveCell : function(rowid,name,val,iRow,iCol) {
		  		$("#treeGrid").setRowData(rowid,false,{background: '#F5BCA9'});
		  		//$("#"+rowid).css("background", "#F5BCA9");
		  	},
            loadComplete: function() {
            	$(".ui-jqgrid tr.jqgrow>td").css("border-bottom-style","none");
            	//$('.tree-leaf', $(this)).css('width', '0px');
            	folderAllClose();
            },
            beforeSelectRow : function( id, event) {
            	if($(event.target).is(":checkbox")) {
                    if($(event.target).is(":checked")) {
                    	$("#treeGrid").setCell(id,"regYn","Y");
                    	
                    	if($("#treeGrid").getCell(id,"orgRegYn") == "" || $("#treeGrid").getCell(id,"orgRegYn") == "N"){
                    		$("#treeGrid").setRowData(id,false,{background: '#F5BCA9'});
                    	}else{
                    		$("#treeGrid").setRowData(id,false,{background: 'white'});
                    	}
                    	
                    } else {
                    	$("#treeGrid").setCell(id,"regYn","N");
                    	
                    	if($("#treeGrid").getCell(id,"orgRegYn") == "Y"){
                    		$("#treeGrid").setRowData(id,false,{background: '#F5BCA9'});
                    	}else{
                    		$("#treeGrid").setRowData(id,false,{background: 'white'});
                    	}
                    }
                    
                }
           },
	   	   	serializeGridData: function(postData) {
			    return JSON.stringify(postData);
			}
        });
		
	}
	
	function selMenuInfo(menuNo){
		
		var params = new Object();
		
		params.menuNo = menuNo;
		
	    ajaxJsonCall('/sys/searchMenuInfo',  params, function(data){
	    	$("#menuNo").val(data.menuNo);
	    	$("#modMenuNo").val(data.menuNo);
	    	$("#menuNm").val(data.menuNm);
	    	$("#menuEnNm").val(data.menuEnNm);
	    	$("#upperMenuNo").val(data.upperMenuNo);
	    	$("#url").val(data.url);
	    	$("#useYn").val(data.useYn);
	    	$("#viewCoCd").val(data.viewCoCd);
	    	$("#menuDesc").val(data.menuDesc);
	    	$("#menuOrder").val(data.menuOrder);
	    	$("#programFileNm").val(data.programFileNm);
	    	$("#relateImagePath").val(data.relateImagePath);
	    	$("#relateImageNm").val(data.relateImageNm);
	    });
		
	}
	
	function saveMenuAuthRel(){
		
		var allList = $("#treeGrid").getRowData();
		
		var changeList = new Array();
		
		var orgRoleList = new Array();
		var changeRoleList = new Array();
		
		for(var i=0;i<allList.length;i++){
			
			var row = allList[i];
			
			var regYn = "";
			var orgRegYn = "";
			
			if(row.regYn == "" || row.regYn == "N"){
				regYn = "N";
			}else{
				regYn = "Y";
				changeRoleList.push(row.authCode);
			}
			
			if(row.orgRegYn == "" || row.orgRegYn == "N"){
				orgRegYn = "N";
			}else{
				orgRegYn = "Y";
				orgRoleList.push(row.authCode);
			}
			
			if(regYn != orgRegYn){
				changeList.push(row);
			}
			
		}
		
		var updateList = changeList;
		
		//var updateList = $("#treeGrid").getChangedCells('all');
		
		if(updateList.length > 0){
			var params = new Object();
			
			params.saveList = updateList;
			params.authCode = $("#authCode").val();
			
			if(confirm("저장하시겠습니까?")){
			    ajaxJsonCall('/sys/saveMenuAuthRel',  params, function(data){
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		$("#treeGrid").GridUnload();
						setTreeGrid();
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			}
			
		}else{
			alert("변경사항이 존재하지 않습니다.");
		}
		
	}
	
	function reload(){
		
		window.location.href = '/sys/menuAuthManage';
		
	}
	
</script>
</th:block>
<body>
<th:block layout:fragment="content">
<div class="tit-area">
	<h3>메뉴 생성관리</h3>
	<ul class="location-area">
		<li><a href="#none" class="home">Home</a></li>
		<li><a href="#none">시스템관리</a></li>
		<li><a href="#none">메뉴생성관리</a></li>
		<li><strong>메뉴생성관리</strong></li>
	</ul>
</div>
<input type="hidden" id="selRowId" name="selRowId" value="" />
<div class="layout-box">
	<div class="layout-left">
		<div class="sub-tit">
			<h4>메뉴 목록</h4>
			<div class="icon-area">
				<button type="button" id="btnGridFolderOpen" class="i-btn">전체펼치기</button>
				<button type="button" id="btnGridFolderClose" class="i-btn">전체접기</button>
				<button type="button" id="btnSaveMenuAuthRel" class="i-btn"><em class="icon03"></em>저장</button>
			</div>
		</div>
		<div class="jqGridArea">
			<select id="authCode" name=authCode class="wp100">
				<th:block th:each="optList : ${authList}" >
					
					<th:block th:if="${optList.authCode != 'IS_AUTHENTICATED_ANONYMOUSLY' 
										and optList.authCode != 'IS_AUTHENTICATED_REMEMBERED' 
										and optList.authCode != 'IS_AUTHENTICATED_FULLY'}">
					<option th:value="${optList.authCode}" >
					[[${optList.authNm}]]  ([[${optList.authCode}]])
					</option>
					</th:block>
				</th:block>	
			</select>	 
			<table id="treeGrid"></table>
		</div>
	</div>
	<div class="layout-right">
		<div class="sub-tit">
			<h4>메뉴 정보</h4>
			<div class="icon-area">
				<!-- <button type="button" id="btnDeleteMenuInfo" class="i-btn"><em class="icon02"></em>삭제</button>
				<button type="button" id="btnSaveMenuInfo" class="i-btn"><em class="icon03"></em>저장</button> -->
			</div>
		</div>
		<table class="tbl-style02">
			<colgroup>
				<col style="width:15%">
				<col style="width:10%">
				<col style="width:15%">
				<col>
			</colgroup>
			<tbody>
				<tr>
					<th>상위메뉴ID</th>
					<td colspan="3" >
						<input type="text" class="wp100" id="upperMenuNo" name="upperMenuNo" value="" readonly="readonly" style="background-color: #D8D8D8;">
					</td>
				</tr>
				<tr>
					<th>메뉴ID</th>
					<td colspan="3">
					<input type="text" id="modMenuNo" class="wp100" name="modMenuNo" value="" readonly="readonly" style="background-color: #D8D8D8;">
					<input type="hidden" id="menuNo" name="menuNo" value="">
					</td>
				</tr>
				<tr>
					<th>정렬순서</th>
					<td colspan="3"><input type="text" class="wp100" id="menuOrder" name="menuOrder" value="" readonly="readonly" style="background-color: #D8D8D8;"></td>
				</tr>
				<tr>	
					<th>메뉴명</th>
					<td colspan="3"><input type="text" class="wp100" id="menuNm" name="menuNm" value="" readonly="readonly" style="background-color: #D8D8D8;"></td>
				</tr>
				<tr>	
					<th>메뉴영문명</th>
					<td colspan="3"><input type="text" class="wp100" id="menuEnNm" name="menuEnNm" value="" readonly="readonly" style="background-color: #D8D8D8;"></td>
				</tr>
				<tr>
					<th>프로그램명</th> 
					<td colspan="3"><input type="text" class="wp100" id="programFileNm" name="programFileNm" value="" readonly="readonly" style="background-color: #D8D8D8;"></td>
				</tr>
				<tr>
					<th>연결URL</th>
					<td colspan="3"><input type="text" class="wp100" id="url" name="url" value="" readonly="readonly" style="background-color: #D8D8D8;"></td>
				</tr>
				<tr>
					<th>사용여부</th>
					<td colspan="3">
						<select id="useYn" name="useYn" disabled="disabled" style="background-color: #D8D8D8;">
							<option value="Y">사용</option>
							<option value="N">미사용</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>노출 회사</th>
					<td colspan="3">
						<select id="viewCoCd" name="viewCoCd" disabled="disabled" style="background-color: #D8D8D8;">
							<option value="">전체</option>
							<option value="1000">SK케미칼</option>
							<option value="4000">바이오사이언스</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>이미지 경로</th>
					<td colspan="3"><input type="text" class="wp100" id="relateImagePath" name="relateImagePath" value="" readonly="readonly" style="background-color: #D8D8D8;"></td>
				</tr>
				<tr>
					<th>이미지 이름</th>
					<td colspan="3"><input type="text" class="wp100" id="relateImageNm" name="relateImageNm" value="" readonly="readonly" style="background-color: #D8D8D8;"></td>
				</tr>
				<tr>
					<th>메뉴 설명</th>
					<td colspan="3">
						<textarea class="tbl-txtarea" id="menuDesc" readonly="readonly" style="background-color: #D8D8D8;"></textarea>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</th:block>
</body>
</html>