<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block layout:fragment="pageCustomCss">

</th:block>
<title>사용자관리</title>
</head>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript">
	
	var lastid;
	
	$(document).ready(function() {
		$("#btnSearch").click(function(e) {
			searchUserList();
	    });
		
		$("#btnSaveUser").click(function(e) {
			saveUser();
	    });
		
		$("#btnAddUser").click(function(e) {
			addUserGridRow();
	    });
		
		$("#btnDeleteUser").click(function(e) {
			delelteUser();
	    });
		
		
		init();
		
		$(window).resize(function() {
			$("#grid1").setGridWidth($(this).width());
		});
		
	});
		
	function init(){
		setGrid1();
		searchUserList();
	}
	
	function delelteUser(){
		
		 var rows = $('#grid1').getGridParam("selarrrow").reverse();
		 if(rows.length < 1) {
			 alert("삭제할 코드를 선택하세요.");
		 	 return;
		 } 
		 	
		 if(confirm("삭제하시겠습니까?")){
			 var delList = new Array();
			 
			 for(var i=0;i<rows.length;i++){
				 var rowVal = $('#grid1').getRowData(rows[i]);
				 delList.push(rowVal);
			 }
			 
			 var params = new Object();
				
			 params.deleteList = delList;
			 
			 ajaxJsonCall('/console/deleteUser',  params, function(data){
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		searchUserList();
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			 
		 } 
		 
		
	}
	
	function addUserGridRow(){
		
		var rowCnt = $("#grid1").getGridParam("reccount");
		
		$("#grid1").addRowData(rowCnt+1,{}, 'first');
	}
	
	function saveUser(){
		var updateList = $("#grid1").getChangedCells('all');
		
		if(updateList.length > 0){
			var params = new Object();
			
			params.saveList = updateList;
			
			if(confirm("저장하시겠습니까?")){
			    ajaxJsonCall('/console/saveUser',  params, function(data){
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		searchUserList();
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			}
			
		}else{
			alert("변경사항이 존재하지 않습니다.");
		}
	}
	
	//코드 그룹 그리드 설정
	function setGrid1(){
		
    	$("#grid1").jqGrid({
    		datatype: "local",
    		height: 500,
    		rowNum: 10000,
    		rowList: [10000],
    	   	colNames:['사용자 아이디','사용자명','부서명','이메일', '패스워드','사용유무','userId'],
    	   	colModel:[
    	   		{name:'modUserId',index:'modUserId', width:100, align:"left",	editable:false, editrules:{required:true}},
    	   		{name:'userNm',index:'userNm', width:100, align:"left",	editable:false, editrules:{required:true}},
    	   		{name:'deptNm',index:'deptNm', width:150,	editable:false, editrules:{required:true}},
    	   		{name:'email',index:'email', width:200, align:"left",	editable:false},		
				{name:'password',index:'password', width:200, align:"left",	editable:false},
				{name:'useYn',index:'useYn', width:50, align:"center",	editable:false},
				{name:'userId',index:'userId', width:100, align:"left",	editable:false,hidden:true}
    	   	],
    	   	pager: "",
    	   	viewrecords: true,
    	   	autowidth:true,
    	   	rownumbers: true,
    	   	cellEdit: true,
    	    cellsubmit: 'clientArray',
    	    multiselect: true,
    	    multiboxonly: true,
    	    beforeSelectRow: function(rowId, e){
    	    },
    	   	onSelectRow: function(rowId,e){	// row 선택시 발생하는 이벤트	
			},
			beforeEditCell: function (rowId,name,val,iRow,iCol){
			},
			afterEditCell: function (id,name,val,iRow,iCol){
				$("#"+id+"_"+name).blur(function(){
			        $("#grid1").jqGrid("saveCell",iRow,iCol);
			    });
				
				$(this).setColProp(name, { editable: false });
				return true;
		  	},
		  	afterSaveCell : function(rowid,name,val,iRow,iCol) {
		  		$("#grid1").setRowData(rowid,false,{background: '#F5BCA9'});
		  	},
		  	ondblClickRow: function (rowid, iRow, iCol) { 
				var colModels = $(this).getGridParam('colModel'); 
				var colName = colModels[iCol].name;
				if(colName != "createDate"){
					$(this).setColProp(colName, { editable: true }); 
					$(this).editCell(iRow, iCol, true);
				}
			}
    	});
	}
	
	//코드 그룹 목록 조회
	function searchUserList(){
		var params = fnGetParams();

	    ajaxJsonCall('/console/userList',  params, fnSuccess);
	}
	
	function fnSuccess(data){
		$("#grid1").clearGridData();

		for(var i=0;i<=data.length;i++){
            $("#grid1").jqGrid('addRowData',i+1,data[i]);
    	}
		
	}
	
	function reload(){
		
	}
</script>
</th:block>
<body>
<th:block layout:fragment="content">
<div class="tit-area">
	<h3>사용자관리</h3>
	<ul class="location-area">
		<li><a href="#none" class="home">Home</a></li>
		<li><a href="#none">콘솔관리</a></li>
		<li><a href="#none">사용자관리</a></li>
		<li><strong>사용자관리</strong></li>
	</ul>
</div>
<!-- <div sec:authorize="isAuthenticated()">
  Name: <span sec:authentication="name">SomeName</span><br />
  Principal: <span sec:authentication="principal">PrincipalString</span><br />
  HasRole(USER): <span sec:authorize="hasRole('ROLE_USER')">YES</span><br />
  HasRole(ADMIN): <span sec:authorize="hasRole('ROLE_ADMIN')">YES</span>
</div> -->
<div class="tbl-search-wrap">
	<div class="tbl-search-area">
		<table class="tbl-search">
			<colgroup>
				<col style="width:105px">
				<col>
				<col style="width:105px">
				<col>
			</colgroup>
			<tbody>
				<tr>
					<th><span>사용자 ID</span></th>
					<td>
						<input type="text" id="userId" name="userId" value="" >
					</td>
					<th><span>사용자명</span></th>
					<td>
						<input type="text" id="userNm" name="userNm" value="" >
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
	<div class="tbl-search-btn">
		<button type="button" id="btnSearch" class="btn-search">조회</button>
	</div>
</div>
<div class="layout-box">
	<div class="layout">
		<div class="sub-tit">
			<h4>롤 정보</h4>
			<div class="icon-area">
				<button type="button" id="btnAddUser" class="i-btn"><em class="icon01"></em>추가</button>
				<button type="button" id="btnDeleteUser" class="i-btn"><em class="icon02"></em>삭제</button>
				<button type="button" id="btnSaveUser" class="i-btn"><em class="icon03"></em>저장</button>
			</div>
		</div>
		<div class="jqGridArea">	 
			<table id="grid1"></table>
		</div>
	</div>
</div>
</th:block>
</body>
</html>