<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>ec-eGov-admin</title>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		//alert('webjar jquery');
	});

function searchDto(){
	alert($("#searchForm").serialize());
	$.post( "/sample/booksDto", 
		$("#searchForm").serialize(), 
		function(data){
			$("#result").val(JSON.stringify(data));
	    }
	);
}
function searchEntity(){
	alert($("#searchForm").serialize());
	$.post( "/sample/booksEntity", 
		$("#searchForm").serialize(), 
		function(data){
			$("#result").val(JSON.stringify(data));
	    }
	);
}
function sendTotalLogAuth(){
	//alert($("#searchForm").serialize());
	$.post( "/sample/sendTotalLogAuth", 
		$("#searchForm").serialize(), 
		function(data){
			$("#result").val(JSON.stringify(data));
	    }
	);
}
</script>
</head>
<body>
<h1>Book List</h1>
<form id="searchForm" name="searchForm">
	책제목:<input type="text" name="bookTitle"/><br>
	총페이지수:<input type="text" name="totalPageLoe" size="3"/> ~ <input type="text" name="totalPageGoe" size="3"/><br>
	저자이름:<input type="text" name="authorName"/><br>
	<input type="button" value="조회1" onclick="searchDto();"/>
	<input type="button" value="조회2" onclick="searchEntity();"/>
	<input type="button" value="테스트" onclick="sendTotalLogAuth();"/>
</form>
<br>
<textarea id="result" rows="10" cols="100"></textarea>
<form id="detailForm" name="detailForm" action="/sample/bookDetail" th:action="@{/sample/bookDetail}" method="post">
<input type="text" name="bookId"/><input type="submit" value="상세조회"/>
</form>
</body>
</html>