<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery-ui.css" /> 
<link rel="stylesheet" href="/static/css/jquery-ui.theme.css" type="text/css">
<link rel="stylesheet" href="/static/css/jquery.treeview.css" type="text/css">
<link rel="stylesheet" href="/static/css/ui.jqgrid.css" type="text/css">
<link rel="stylesheet" href="/static/css/reset.css" type="text/css">
<link rel="stylesheet" href="/static/css/common.css" type="text/css">
<title>로그인</title>
</head>
<script sec:authorize="isAuthenticated()">

window.location.href='/console/userManage';

</script>
<body class="login-bg">
<form id="fm" action="/login" method="post">
	<section class="login-area">
		<div class="login-box">
			<div class="login-cont">
				<h2>LOGIN</h2>
				<strong>SK케미칼 구매포탈</strong>
				<ul class="login-inpt">
					<li><input type="text" id="username" name="username" placeholder="ID"></li>
					<li><input type="password" id="password" name="password" placeholder="password"></li>
				</ul>
				<!-- <div class="login-etc">
					<span>
						<input type="checkbox" id="checked"><label for="checked">아이디 저장</label>
					</span>
				</div> -->
				<button type="submit" id="login" value="">LOGIN</button>
				<p class="copy"></p>
			</div>
			<div class="login-desc">
				<p>
					Companies that provide customers with<br>
					confidence and satisfaction to its<br>
					customers.
				</p>
			</div>
		</div><!-- //login-box -->

	</section><!-- //login-area -->
</form>
</body>

</html>