	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/ui.jqgrid.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/jquery-ui.css" /> 
 	
 	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery-ui.js"></script>
	<script src="/static/js/jquery.jqGrid.js"></script>
	<!-- <script src="/static/js/jquery-3.4.1.min.js"></script> -->
	<script src="/static/js/common.js"></script>
