<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block layout:fragment="pageCustomCss">

</th:block>
<title>코드 관리</title>
</head>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript">
	
	var lastid;
	
	$(document).ready(function() {
		$("#btnSearch").click(function(e) {
			searchCodeGroupList();
	    });
		
		//===== 그룹코드 =====
		$("#btnSaveCodeGroup").click(function(e) {
			saveCodeGroup();
	    });
		
		$("#btnAddCodeGroup").click(function(e) {
			addCodeGroupGridRow();
	    });
		
		$("#btnDeleteCodeGroup").click(function(e) {
			delelteCodeGroup();
	    });
		
		
		//===== 상세코드 =====
		$("#btnSaveCodeDetail").click(function(e) {
			saveCodeDetail();
	    });
		
		$("#btnAddCodeDetail").click(function(e) {
			addCodeDetailGridRow();
	    });
		
		$("#btnDeleteCodeDetail").click(function(e) {
			delelteCodeDetail();
	    });
		
		init();
		
		
		$(window).resize(function() {
			$("#grid1").setGridWidth($(this).width());
			$("#grid2").setGridWidth($(this).width());
		});
		
	});
		
	function init(){
		setGrid1();
		setGrid2();
		searchCodeGroupList();
	}
	
	function delelteCodeGroup(){
		
		 var rows = $('#grid1').getGridParam("selarrrow").reverse();
		 if(rows.length < 1) {
			 alert("삭제할 코드를 선택하세요.");
		 	 return;
		 } 
		 	
		 if(confirm("삭제하시겠습니까?")){
			 var delList = new Array();
			 
			 for(var i=0;i<rows.length;i++){
				 var rowVal = $('#grid1').getRowData(rows[i]);
				 delList.push(rowVal);
			 }
			 
			 //alert(JSON.stringify(delList));
			 
			 var params = new Object();
				
			 params.deleteList = delList;
			 
			 ajaxJsonCall('/sys/deleteCodeGroup',  params, function(data){
			    	
			    	//alert(JSON.stringify(data));
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		searchCodeGroupList();
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			 
		 } 
		 
		
	}
	
	function delelteCodeDetail(){
		
		 var rows = $('#grid2').getGridParam("selarrrow").reverse();
		 if(rows.length < 1) {
			 alert("삭제할 코드를 선택하세요.");
		 	 return;
		 } 
		 	
		 if(confirm("삭제하시겠습니까?")){
			 var delList = new Array();
			 
			 for(var i=0;i<rows.length;i++){
				 var rowVal = $('#grid2').getRowData(rows[i]);
				 delList.push(rowVal);
			 }
			 
			 //alert(JSON.stringify(delList));
			 
			 var params = new Object();
				
			 params.deleteList = delList;
			 
			 ajaxJsonCall('/sys/deleteCodeDetail',  params, function(data){
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		searchCodeDetailList($("#selCodeGroup").val());
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			 
		 } 
		 
		
	}
	
	function addCodeGroupGridRow(){
		
		var rowCnt = $("#grid1").getGridParam("reccount");
		
		$("#grid1").addRowData(rowCnt+1,{}, 'last');
		//var cm = $('#grid1').jqGrid('getColProp',"codeGrp");
		//cm.editable = true;
		//$("#grid1").setCell(rowCnt+1,'codeGrp','','edit-cell');
		//$("#"+(rowCnt+1)).setColProp('codeGrp',{editable:true}); 
	}
	
	function addCodeDetailGridRow(){
		
		if($("#selCodeGroup").val() != ""){
			var rowCnt = $("#grid2").getGridParam("reccount");
			
			$("#grid2").addRowData(rowCnt+1,{"codeGroupCd":$("#selCodeGroup").val()}, 'last');
		}
	}
	
	function saveCodeGroup(){
		var updateList = $("#grid1").getChangedCells('all');
		
		if(updateList.length > 0){
			//alert(JSON.stringify(updateList));
			var params = new Object();
			
			params.saveList = updateList;
			
			if(confirm("변경하시겠습니까?")){
			    ajaxJsonCall('/sys/saveCodeGroup',  params, function(data){
			    	
			    	//alert(JSON.stringify(data));
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		searchCodeGroupList();
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			}
			
		}else{
			alert("변경사항이 존재하지 않습니다.");
		}
	}
	
	function saveCodeDetail(){
		var updateList = $("#grid2").getChangedCells('all');
		
		if(updateList.length > 0){
			var params = new Object();
			
			params.saveList = updateList;
			
			if(confirm("변경하시겠습니까?")){
			    ajaxJsonCall('/sys/saveCodeDetail',  params, function(data){
			    	
			    	if(data.response.responseCd == "S"){
			    		alert(data.response.responseMsg);
			    		searchCodeDetailList($("#selCodeGroup").val());
			    	}else{
			    		alert(data.response.responseErrMsg);
			    	}
			    	
			    });
			}
			
		}else{
			alert("변경사항이 존재하지 않습니다.");
		}
	}
	//코드 그룹 그리드 설정
	function setGrid1(){
		
    	$("#grid1").jqGrid({
    		datatype: "local",
    		height: 300,
    		rowNum: 10000,
    		rowList: [10000],
    	   	colNames:['코드그룹','코드그룹명', '설명', '사용여부', 'orgCodeGrp'],
    	   	colModel:[
    	   		{name:'modCodeGrp',index:'modCodeGrp', width:150, align:"center",	editable:true, editrules:{required:true}},
    	   		{name:'codeGrpNm',index:'codeGrpNm', width:150,	editable:true, editrules:{required:true}},
    	   		{name:'codeGrpDesc',index:'codeGrpDesc', width:300, align:"left",	editable:true},		
    	   		{name:"useYn", index:"useYn", width:50, align:"center" ,	sortable:false,	editable:true, editrules:{required:true},
					edittype:"select",
					formatter: "select",
					editoptions:{
						value:{
							"Y":"사용",
							"N":"미사용"
						}
					}					
				 },
				 {name:'codeGrp',index:'codeGrp', width:150, align:"center",	editable:false, hidden:true}
    	   	],
    	   	pager: "",
    	   	viewrecords: true,
    	   	autowidth:true,
    	   	rownumbers: true,
    	   	cellEdit: true,
    	    cellsubmit: 'clientArray',
    	    multiselect: true,
    	    multiboxonly: true,
    	    beforeSelectRow: function(rowId, e){
    	    },
    	   	onSelectRow: function(rowId,e){	// row 선택시 발생하는 이벤트	
    	   		/* if(rowId != null){
					selCodeGroup($(this), rowId);			
    	   		} */
			},
			beforeEditCell: function (rowId,name,val,iRow,iCol){
				if(rowId != null){
					if(name == "modCodeGrp"){
						selCodeGroup($(this), rowId);			
					}
    	   		}
			},
			afterEditCell: function (id,name,val,iRow,iCol){
				$("#"+id+"_"+name).blur(function(){
			        $("#grid1").jqGrid("saveCell",iRow,iCol);
			    });
				return true;
		  	},
		  	afterSaveCell : function(rowid,name,val,iRow,iCol) {
		  		$("#grid1").setRowData(rowid,false,{background: '#F5BCA9'});
		  		//$("#"+rowid).css("background", "#F5BCA9");
		  	}
    	});
	}
	
	function selCodeGroup(grid, rowId) {
		 var row = grid.getRowData(rowId);	
		 var codeGrp = row.codeGrp;
		 
		 $("#selCodeGroup").val(codeGrp);
		 
		 searchCodeDetailList(codeGrp);
		 	
	};
	
	//코드 그룹 목록 조회
	function searchCodeGroupList(){
		var params = fnGetParams();

	    ajaxJsonCall('/sys/codeGrpList',  params, fnSuccess);
	}
	
	function fnSuccess(data){
		$("#grid1").clearGridData();

		for(var i=0;i<=data.length;i++){
            $("#grid1").jqGrid('addRowData',i+1,data[i]);
    	}
		
	}
	
    function searchCodeDetailList(codeGrp){
    	
    	var params = new Object();
    	
    	params.codeGrp = codeGrp;

	    ajaxJsonCall('/sys/codeDetailList',  params, fnSuccess2);
    	
    }
    
	function fnSuccess2(data){
		
		$("#grid2").clearGridData();

		for(var i=0;i<=data.length;i++){
            $("#grid2").jqGrid('addRowData',i+1,data[i]);
    	}
		
	}
	
	function setGrid2(){
		
		$("#grid2").jqGrid({
    		datatype: "local",
    		height: 250,
    		rowNum: 10000,
    		rowList: [10000],
    	   	colNames:['코드그룹', '코드', '코드명', '설명', '사용여부','orgCode'],
    	   	colModel:[
    	   		{name:'codeGroupCd',index:'codeGroupCd', width:150, align:"center"},
    	   		{name:'modCode',index:'modCode', width:150, align:"center",	editable:true, editrules:{required:true}},
    	   		{name:'codeNm',index:'codeNm', width:150, align:"left",	editable:true, editrules:{required:true}},
    	   		{name:'codeDesc',index:'codeDesc', width:300, align:"left",	editable:true},
    	   		{name:"useYn", index:"useYn", width:50, align:"center" ,	sortable:false,	editable:true, editrules:{required:true},
					edittype:"select",
					formatter: "select",
					editoptions:{
						value:{
							"Y":"사용",
							"N":"미사용"
						}
					}					
				 },
				 {name:'code',index:'code', width:150, align:"center",	editable:false, hidden:true}
    	   	],
    	   	pager: "",
    	   	viewrecords: true,
    	   	autowidth:true,
    	   	rownumbers: true,
    	   	cellEdit: true,
    	    cellsubmit: 'clientArray',
    	    multiselect: true,
    	    multiboxonly: true,
    	    beforeSelectRow: function(rowId, e){
    	    	
    	    },
    	   	onSelectRow: function(rowId,e){	// row 선택시 발생하는 이벤트	
			
    	   	},
			beforeEditCell: function (rowId,name,val,iRow,iCol){
			
			},
			afterEditCell: function (id,name,val,iRow,iCol){
				$("#"+id+"_"+name).blur(function(){
			        $("#grid2").jqGrid("saveCell",iRow,iCol);
			    });
				return true;
		  	},
		  	afterSaveCell : function(rowid,name,val,iRow,iCol) {
		  		$("#grid2").setRowData(rowid,false,{background: '#F5BCA9'});
		  		//$("#"+rowid).css("background", "#F5BCA9");
		  	}
    	});
		
	}
	
	function reload(){
		
	}
</script>
</th:block>
<body>
<th:block layout:fragment="content">
<input type="hidden" id="selCodeGroup" name="selCodeGroup" value="" />
<p style="font-size: 18px;font-weight: bold;">공통코드 관리</p>
<table style="width: 100%;border: 1px solid">
	<tr>
		<th>그룹코드</th>
		<td><input type="text" id="codeGrp" name="codeGroup" value="" ></td>
		<th>그룹코드명</th>
		<td><input type="text" id="codeGrpNm" name="codeGroupNm" value="" ></td>
		<td><button type="button" id="btnSearch">조회</button></td>
	</tr>
</table>
<br>
<div style="position: relative;display: inline-block;width: 100%;">
<div style="float: left;"><p style="font-size: 15px">그룹코드</p></div>
<div style="float: right;padding-top: 15px"><button type="button" id="btnSaveCodeGroup">저장</button>&nbsp;</div>
<div style="float: right;padding-top: 15px"><button type="button" id="btnDeleteCodeGroup">삭제</button>&nbsp;</div>
<div style="float: right;padding-top: 15px"><button type="button" id="btnAddCodeGroup">그룹추가</button>&nbsp;</div>
</div>
<br>
<table id="grid1" style="width:100%;height:100%;"></table>
<div style="position: relative;display: inline-block;width: 100%;">
<div style="float: left;"><p style="font-size: 15px">상세코드</p></div>
<div style="float: right;padding-top: 15px"><button type="button" id="btnSaveCodeDetail">저장</button>&nbsp;</div>
<div style="float: right;padding-top: 15px"><button type="button" id="btnDeleteCodeDetail">삭제</button>&nbsp;</div>
<div style="float: right;padding-top: 15px"><button type="button" id="btnAddCodeDetail">상세추가</button>&nbsp;</div>
</div>
<table id="grid2" style="width:100%;height:100%;"></table>
</th:block>
</body>
</html>