<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout/defaultLayout">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<th:block layout:fragment="pageCustomCss">

</th:block>
<title>로그관리</title>
</head>
<th:block layout:fragment="pageCustomScript">
<script type="text/javascript">
	
	$(document).ready(function() {
		
		init();
		
		$("#searchLogView").click(function(e) {
			searchLogView();
	    });
		
		$("#btnDownLog").click(function(e) {
			downloadLog();
	    });
		
		
		
		$('#logDiv').scroll(function(){
		    //alert("로그 끝");
		    
		    var scrollT = $(this).scrollTop(); //스크롤바의 상단위치
	        var scrollH = $(this).height(); //스크롤바를 갖는 div의 높이
    	    var contentH = $('#logView').height(); //문서 전체 내용을 갖는 div의 높이
        	if(scrollT + scrollH +1 >= contentH) { // 스크롤바가 아래 쪽에 위치할 때
        		appendLog();
        	}
		    
		});
		
		$(window).resize(function() {
			$("#treeGrid").setGridWidth($(".layout-left").width());
		});
		
	});
		
	function init(){
		setTreeGrid();
	}
	
	function downloadLog(){
		
		if($("#currFilePath").val() != ""){
			
			$("#fullPath").val($("#currFilePath").val());
			
			var fm = document.getElementById("fm");
			
			fm.action ="/log/downloadlogFile";
			fm.target = "downFrame";
			fm.submit();
			
		}else{
			alert("다운로드 받을 파일을 선택하시기 바랍니다.");
		}
		
	}
	
	function setTreeGrid(){
		
		var cnt = 0;
		
		$("#treeGrid").jqGrid({
			url : "/log/getLogPathList",
    		datatype: "json",
    		mtype:"POST",
            colNames: ["경로","Name","fYn"],
            colModel: [
                {name:'fullPath', index:'fullPath', width:1, hidden:true, key:true},
                {name:'name', index:'name', hidden:false, sortable:false},
                {name:'folderYn', index:'folderYn', hidden:true, sortable:false}
            ],
            treeGridModel: 'adjacency',
            height: '500',
            width: '550',
            pager: "",
            treeGrid: true,
            ExpandColumn: 'name',
            ExpandColClick: false,
            treeIcons: {plus:'ui-icon-folder-collapsed',minus:'ui-icon-folder-open',leaf:'ui-icon-blank'},
            caption: "탐색기",
            tree_root_level: 1,
            jsonReader: {
            	id:"fullPath",
            	repeatitems : false
            },
            treeReader: {
                level_field:        "lvl",
                parent_id_field:    "parentPath",
                leaf_field: "leaf",
                expanded_field:"expanded"
            },
            beforeRequest: function() {
            	if(cnt==1){
            		return false;
            	}
            	cnt = 1
            },
            onSelectRow: function (rowid) {
            	$("#selRowId").val(rowid);
            	var treedata = $("#treeGrid").jqGrid('getRowData', rowid);
            	//alert(JSON.stringify(treedata));
	            if(treedata.folderYn == "N"){
	            	$("#logView").html("");
	            	selFile(treedata.fullPath);
	            }
            },
            loadComplete: function() {
            	$(".ui-jqgrid tr.jqgrow>td").css("border-bottom-style","none");
            	//$('.tree-leaf', $(this)).css('width', '0px');
            }
        });
		
	}
	
	function selFile(path){
		
		$("#beforeSearchText").val("");
		$("#searchValue").val("");
		
		var params = new Object();
		
		params.fullPath = path;
		params.fromLine = 1;
		params.searchTextYn = false;
		params.logAddYn = false;
		
		if($("#viewLineNumYn").is(":checked")){
			params.viewLineNumYn = "Y";
		}else{
			params.viewLineNumYn = "N";
		}
		
	    ajaxJsonCall('/log/getLogView',  params, function(data){
	    	
	    	if(data.response.responseCd == "S"){
	    		$("#currFilePath").val(data.fullPath);
	    		$("#lastLine").val(data.toLine+1);
	    		$("#logView").append(data.logContents);
	    	}else{
	    		alert(data.response.responseErrMsg);
	    	}
	    });
		
	}
	
	function appendLog(){
		
		var searchCond = $("#searchCond").val();
		
		var params = new Object();
		
		params.fullPath = $("#currFilePath").val();
		params.fromLine = $("#lastLine").val();
		params.logAddYn = true;
		if($("#viewLineNumYn").is(":checked")){
			params.viewLineNumYn = "Y";
		}else{
			params.viewLineNumYn = "N";
		}
		
		if(searchCond == "L"){
			params.searchTextYn = false;
		}else{
			if($("#beforeSearchText").val() != $("#searchValue").val()){
				params.searchNext = false;
			}else{
				params.searchNext = true;
			}
			
			params.searchTextYn = true;
			params.searchText = $("#searchValue").val();
			params.nextLine = $("#nextLine").val();
			params.nextSeq = $("#nextSeq").val();
			
			$("#beforeSearchText").val($("#searchValue").val());
		}
		
	    ajaxJsonCall('/log/getLogView',  params, function(data){
	    	
	    	if(data.response.responseCd == "S"){
	    		$("#currFilePath").val(data.fullPath);
	    		$("#lastLine").val(data.toLine+1);
	    		$("#logView").append(data.logContents);
	    	}else{
	    		alert(data.response.responseErrMsg);
	    	}
	    });
		
	}
	
	function searchLogView(){
		
		var searchCond = $("#searchCond").val();
		
		var params = new Object();
		
		params.fullPath = $("#currFilePath").val();
		params.logAddYn = false;
		
		if($("#viewLineNumYn").is(":checked")){
			params.viewLineNumYn = "Y";
		}else{
			params.viewLineNumYn = "N";
		}
		
		if(searchCond == "L"){
			params.fromLine = $("#searchValue").val();
			params.searchTextYn = false;
		}else{
			if($("#beforeSearchText").val() != $("#searchValue").val()){
				params.searchNext = false;
			}else{
				params.searchNext = true;
			}
			
			params.searchTextYn = true;
			params.searchText = $("#searchValue").val();
			params.nextLine = $("#nextLine").val();
			params.nextSeq = $("#nextSeq").val();
			
			params.searchTextSize = $("#searchTextSize").val();
			params.searchTextFromLine = $("#searchTextFromLine").val();
			params.searchTextToLine = $("#searchTextToLine").val();
			
			$("#beforeSearchText").val($("#searchValue").val());
		}
		
	    ajaxJsonCall('/log/getLogView',  params, function(data){
	    	
	    	if(data.response.responseCd == "S"){
	    		$("#logView").html("");
	    		$("#currFilePath").val(data.fullPath);
	    		$("#lastLine").val(data.toLine+1);
	    		$("#logView").append(data.logContents);
	    		$("#nextLine").val(data.nextLine);
	    		$("#nextSeq").val(data.nextSeq);
	    		
	    		$("#searchTextSize").val(data.searchTextSize);
	    		$("#searchTextFromLine").val(data.searchTextFromLine);
	    		$("#searchTextToLine").val(data.searchTextToLine);
	    	}else{
	    		alert(data.response.responseErrMsg);
	    		$("#beforeSearchText").val("");
	    	}
	    });
		
	}
	
</script>
</th:block>
<body>
<th:block layout:fragment="content">
<form id="fm" method="post">
<input type="text" id="fullPath" name="fullPath" value="" />
</form>
<div class="tit-area">
	<h3>로그관리</h3>
	<ul class="location-area">
		<li><a href="#none" class="home">Home</a></li>
		<li><a href="#none">로그관리</a></li>
		<li><a href="#none">로그관리</a></li>
		<li><strong>로그관리</strong></li>
	</ul>
</div>
<input type="hidden" id="currFilePath" name="currFilePath" value="" />
<input type="hidden" id="lastLine" name="lastLine" value="" />
<input type="hidden" id="nextLine" name="nextLine" value="" />
<input type="hidden" id="nextSeq" name="nextSeq" value="" />
<input type="hidden" id="beforeSearchText" name="beforeSearchText" value="" />
<input type="hidden" id="searchTextSize" name="searchTextSize" value="" />
<input type="hidden" id="searchTextFromLine" name="searchTextFromLine" value="" />
<input type="hidden" id="searchTextToLine" name="searchTextToLine" value="" />
<div class="layout-box" id="allContents">
	<div class="layout-left">
		<div class="sub-tit">
			<h4>로그 탐색기</h4>
			<div class="icon-area">
				<button type="button" id="btnDownLog" class="i-btn">다운로드</button>
			</div>
		</div>
		<div class="jqGridArea">	 
			<table id="treeGrid"></table>
		</div>
	</div>
	<div class="layout-right">
		<div class="sub-tit">
			<h4>로그 상세</h4>
			<div class="icon-area">
				<label for="viewLineNumYn">라인 넘버 보기</label>
				<input type="checkbox" id="viewLineNumYn" name="viewLineNumYn" value="Y" />
				<select id="searchCond">
					<option value="L">라인</option>
					<option value="T">검색어</option>
				</select>
				<input type="text" id="searchValue" value="">
				<button type="button" id="searchLogView" class="i-btn">검색</button>
				<!-- <button type="button" id="btnDeleteMenuInfo" class="i-btn"><em class="icon02"></em>삭제</button>
				<button type="button" id="btnSaveMenuInfo" class="i-btn"><em class="icon03"></em>저장</button> -->
			</div>
		</div>
		<table class="tbl-style02">
			<tr>
				<td style="">
					<div id="logDiv" style="height:550px;overflow:auto;">
    					<div id="logView" style="white-space: pre-wrap;">
    					</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<iframe style="display: none" name="downFrame" id="downFrame"></iframe>
</th:block>
</body>
</html>